include *.txt
include LICENSE
recursive-include sphinx_rtb_theme *.conf
recursive-include sphinx_rtb_theme *.css
recursive-include sphinx_rtb_theme *.eot
recursive-include sphinx_rtb_theme *.html
recursive-include sphinx_rtb_theme *.js
recursive-include sphinx_rtb_theme *.svg
recursive-include sphinx_rtb_theme *.ttf
recursive-include sphinx_rtb_theme *.woff
recursive-include sphinx_rtb_theme *.woff2
